.sc_boai {
    position: relative;
    margin: 1.5rem auto;
    text-align: center;
}

.sc_boai .sc_boai_img {
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
    max-width: 100%;
    height: auto;
    width: auto;
}

.sc_boai .tvm a {
    display: inline-block;
    width: 48%;
    position: absolute;
    height: 50px;
    left: 0;
    top: 0;
    cursor: pointer;
}

.sc_boai .tvm a:nth-child(2) {
    left: initial;
    right: 0;
}

/* 18/9 */
.tvm_p {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15%;
    top: 5%;
}

.tvm_p .scLink {
    height: 50px;
    width: 160px;
}

.tvm_p2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 2%;
    right: 17%;
}

.tvm_p2 .scLink {
    width: 140px;
    height: 44px;
}

.tvm_p3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 11%;
    width: 100%;
}

.tvm_p3 .scLink {
    width: 50%;
    height: 44px;
}

.tvm_p4 {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 3%;
    width: 100%;
}

.tvm_p4 .scLink {
    width: 50%;
    height: 100px;
}

@media screen and (max-width: 575.98px) {
    .tvm_p {
        right: 0;
        top: 0;
    }
    .tvm_p .scLink {
        height: 40px;
        width: 110px;
    }

    .tvm_p2 {
        bottom: 2%;
        right: 0;
    }

    .tvm_p2 .scLink {
        height: 30px;
    }

    .tvm_p3 .scLink {
        height: 35px;
    }

    .tvm_p4 {
        bottom: 0%;
        right: 0;
    }
    .tvm_p4 .scLink {
        height: 75px;
    }
}

#sc-uudaiMoi_wrap {
    display: inline-block;
    position: relative;
}
#sc-uudaiMoi img {
    max-width: unset !important;
}
#sc-uudaiMoi_btns {
    width: 220px;
    position: absolute;
    bottom: 0;
    right: 5px;
}
#sc-uudaiMoi_btns a {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

@media screen and (max-width: 991.98px) {
    #sc-uudaiMoi img {
        max-width: 100% !important;
    }
    #sc-uudaiMoi_btns {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: row-reverse;
    }
    #sc-uudaiMoi_btns a {
        display: block;
        width: 50%;
        height: 50px;
    }

    #sc-udm_gbt {
        width: 57%;
    }
    #sc-udm_gbt a {
        height: 35px;
    }
}

#sc-udm {
    position: relative;
}
#sc-udm_gbt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 70%;
    bottom: 5px;
}
#sc-udm_gbt a {
    height: 45px;
    width: 50%;
}

/*
* .sc_boai.sc-html
*/
.sc_boai-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sc_boai.sc-html {
    max-width: 750px;
    padding: 15px 20px;
    font-family: Roboto;
}
.sc_boai a {
    color: inherit;
    line-height: inherit;
    outline: none;
}
.sc_boai.sc-html img {
    display: initial;
    max-width: initial !important;
}
.sc_boai.sc-html,
.sc_boai.sc-html .sc-boai-content {
    border-radius: 20px;
}
.sc_boai.sc-html .sc-boai-heading {
    color: #ffffff;
    font-family: 'UTM HelvetIns';
    font-size: 20px;
    text-transform: uppercase;
    text-align: center !important;
    margin-top: 0 !important;
}
.sc_boai.sc-html .sc-boai-note span,
.sc_boai.sc-html .sc-boai-heading span {
    color: #ffff00;
}
.sc_boai.sc-html .sc-boai-heading span {
    display: block;
    font-size: 30px;
}
.sc_boai.sc-html .sc-boai-content {
    background-color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 34px;
}
.sc_boai.sc-html .sc-boai-content ul {
    padding-left: 0;
}
.sc_boai.sc-html .sc-boai-content ul li {
    list-style: disc;
    list-style-position: inside;
    text-align: initial;
    padding: 3px 5px;
    margin: 0 !important;
}
.sc_boai.sc-html .sc-boai-content ul li::before {
    display: none;
}
.sc_boai.sc-html .sc-boai-content ul li span {
    color: #ff0000;
}
.sc_boai .sc-boai-note {
    color: #ffffff;
    font-size: 16px;
    font-style: italic;
    text-align: center !important;
}
.sc_boai .sc-boai-note:last-child,
.sc_boai.sc-html .sc-boai-content ul:last-child {
    margin: 0 !important;
}
.sc_boai.sc-html .sc-boai-footer {
    padding-top: 15px;
}
.sc_boai.sc-html .sc-boai-buttons {
    display: flex;
    margin-bottom: 18px;
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    height: 100%;
}
.sc_boai.sc-html .sc-boai-buttons .btn-group {
    display: flex;
    gap: 9px;
}
/* Hiệu ứng nhấp nháy nút xanh */
@keyframes blue-blink {
    0% {
        background-color: #3a8dde; /* Màu xanh nhạt */
    }
    50% {
        background-color: #ff7a29; /* Màu xanh đậm */
    }
    100% {
        background-color: #3a8dde; /* Màu xanh nhạt */
    }
}

/* Hiệu ứng nhấp nháy nút cam */
@keyframes orange-blink {
    0% {
        background-color: #ff7a29; /* Màu cam nhạt */
    }
    50% {
        background-color: #3a8dde; /* Màu đỏ đậm */
    }
    100% {
        background-color: #ff7a29; /* Màu cam nhạt */
    }
}

/* Hiệu ứng nhấp nháy nút xanh */
@keyframes green-blink {
    0% {
        background-color: #009257; /* Màu xanh nhạt */
    }
    50% {
        background-color: #ff7a29; /* Màu xanh đậm */
    }
    100% {
        background-color: #009257; /* Màu xanh nhạt */
    }
}

/* Hiệu ứng nhấp nháy nút cam */
@keyframes orange2-blink {
    0% {
        background-color: #ff7a29; /* Màu cam nhạt */
    }
    50% {
        background-color: #009257; /* Màu đỏ đậm */
    }
    100% {
        background-color: #ff7a29; /* Màu cam nhạt */
    }
}

.sc_boai.sc-html .sc-boai-buttons .btn-chat {
    border-radius: 22px;
    border: 2px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    display: flex;
    gap: 5px;
    font-family: 'UTM HelvetIns';
    font-weight: 400;
    align-items: center;
    line-height: initial;
    text-transform: uppercase;
    text-decoration: none;
    padding: 4px 30px 5px 30px;
    white-space: nowrap;
    background-size: 200% 200%; /* Tăng kích thước để hiệu ứng mượt hơn */
    animation: blink-animation 2s step-start infinite; /* Animation rõ ràng */
}
.sc_boai.sc-html .sc-boai-buttons .btn-chat img {
    display: initial;
    margin: 0 11px 0 0;
}
.sc_boai.sc-html .sc-boai-buttons .btn-tuvan {
    animation: orange-blink 2s step-start infinite; /* Hiệu ứng nhấp nháy riêng */
}
.sc_boai.sc-html .sc-boai-buttons .btn-dangky {
    animation: blue-blink 2s step-start infinite; /* Hiệu ứng nhấp nháy riêng */
}
.sc_boai.sc-html.bg-blue .sc-boai-buttons .btn-tuvan {
    animation: orange2-blink 2s step-start infinite; /* Hiệu ứng nhấp nháy riêng */
}
.sc_boai.sc-html.bg-blue .sc-boai-buttons .btn-dangky {
    animation: green-blink 2s step-start infinite; /* Hiệu ứng nhấp nháy riêng */
}
.border-radius-10 {
    border-radius: 10px;
}
/*
* .sc_boai.bg-blue
*/
.bg-blue {
    background-color: #2163af;
}
.sc_boai.bg-blue .sc-boai-content ul li::marker {
    color: #2163af;
}
.sc_boai.bg-blue .sc-boai-content ul li::before {
    background: initial !important;
    position: initial !important;
    width: initial !important;
    height: initial !important;
}
/*
* .sc_boai.bg-green
*/
.bg-green {
    background-color: #009570;
}
.sc_boai.bg-green .sc-boai-content ul li::marker {
    color: #009570;
}
/*
* .sc_boai.sc-uudai-tri-lv3
*/
.sc_boai.sc-uudai-tri-lv3 .sc-boai-inner {
    display: inline-block;
    position: relative;
}
.sc_boai.sc-uudai-tri-lv3 .sc-boai-inner > img {
    width: auto;
    height: auto;
    max-width: 100%;
}
.sc_boai.sc-uudai-tri-lv3.is_pc .send-phonenumber {
    position: absolute;
    top: initial;
    left: initial;
    bottom: 0;
    right: 0;
    width: 65%;
    line-height: 1.42857143;
}
.sc_boai .send-phonenumber {
    padding: 9px;
}
.sc_boai .send-phonenumber .send-phonenumber-form {
    border-radius: 24px;
    background-color: #ffffff;
    display: flex;
    text-align: left;
    padding-left: 34px;
    overflow: hidden;
    height: 46px;
}
.sc_boai .send-phonenumber input.d-phone {
    width: calc(100% - 84px);
    height: 46px;
}
.sc_boai .send-phonenumber input.d-phone:focus {
    border: medium none;
    outline: 0;
}
.sc_boai .send-phonenumber button,
.sc_boai .send-phonenumber input.d-phone {
    border: medium none;
    background: inherit;
}
.sc_boai .send-phonenumber button {
    padding: 0;
    width: 84px;
}
@media screen and (min-width: 768px) {
    .sc_boai.sc-html .sc-boai-sendphone {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .sc_boai.sc-html .send-phonenumber {
        display: flex;
        gap: 0;
        width: 90%;
    }
    .sc_boai.sc-html .send-phonenumber .send-phonenumber-form {
        padding-left: 20px;
        width: 100%;
    }
    .sc_boai.sc-html .send-phonenumber .btn-container {
        height: 46px;
    }
    .sc_boai.sc-html .send-phonenumber .btn-container a > img {
        height: 56px;
    }
}
@media screen and (max-width: 360px) {
    .sc_boai.sc-html .sc-boai-content {
        padding: 15px 10px 15px 43px;
    }
    .sc_boai.sc-html .sc-boai-buttons .btn-chat {
        font-size: 13px;
    }
    .sc_boai.sc-html .sc-boai-buttons .btn-chat img {
        height: 18px;
    }
}
@media screen and (max-width: 430px) {
    .sc_boai.sc-html .sc-boai-heading span {
        font-size: 22px !important;
    }
}
@media screen and (max-width: 480px) {
    .sc_boai.sc-html .sc-boai-heading {
        font-size: 16px;
    }
    .sc_boai.sc-html .sc-boai-heading span {
        font-size: 24px;
    }
    .sc_boai.sc-html .sc-boai-content ul li {
        text-indent: -23px;
    }
    .sc_boai.sc-html .sc-boai-buttons .btn-chat {
        padding: 4px 10px 5px;
    }
    .sc_boai.sc-html .sc-boai-buttons .btn-chat img {
        margin-right: 6px;
    }
}
/*
* Đặt lịch khám thai sớm
*/
/* Chrome, Safari, Edge */
input[type=number].d-phone::-webkit-outer-spin-button,
input[type=number].d-phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].d-phone {
  -moz-appearance: textfield;
}

.vssc.vssc-datlich-khamsom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
}
.vssc.vssc-datlich-khamsom .vssc-inside {
    background: #e0f5ee;
    border-radius: 15px;
    overflow: hidden;
    max-width: fit-content;
}
.vssc.vssc-datlich-khamsom .vssc-left {
    flex-shrink: 0;
}
.vssc.vssc-datlich-khamsom .vssc-left img {
    height: 100%;
    width: auto;
    max-width: 100% !important;
}
.vssc.vssc-datlich-khamsom .vssc-right-content {
    height: 100%;
    padding: 10px 23px;
    position: relative;
}
.vssc.vssc-datlich-khamsom .vssc-right-content .vssc-title {
    display: flex;
    justify-content: center;
    text-align: center;
}
.vssc.vssc-datlich-khamsom .vssc-right {
    flex: 1;
}
.vssc.vssc-datlich-khamsom .vssc-right-content .vssc-form {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vssc.vssc-datlich-khamsom .vssc-right-content .vssc-form input.d-phone {
    border: 1px solid #34d4a2;
    border-radius: 30px;
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 46px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.vssc.vssc-datlich-khamsom .vssc-right-content .vssc-form input.d-phone:focus-visible {
    outline: 0;
}
.vssc.vssc-datlich-khamsom .vssc-right-content .vssc-form button.d-send {
    background: linear-gradient(to right, #ff4500, #ffcc33);
    border: medium none;
    border-radius: 30px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    margin: 5px 0 0 0;
    outline: 0;
    text-transform: uppercase;
    padding: 10px 22px;
    width: fit-content;
    font-weight: 700;
    line-height: 24px;
}
.vssc.vssc-datlich-khamsom .vssc-right-content .vssc-form button.d-send .vs-icon {
    display: flex;
}
.vssc.vssc-datlich-khamsom .vssc-right-content .vssc-form button.d-send:hover {
    opacity: 0.8;
}
@media screen and (max-width: 768px) {
    .vssc.vssc-datlich-khamsom .vssc-inside {
        flex-direction: column;
    }
    .vssc.vssc-datlich-khamsom .vssc-left img {
        width: 100%;
        height: auto;
    }
}
/*
* Che ảnh nhạy cảm
*-------------------------------------*/
.sensitive-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.sensitive-wrapper.centered {
  display: table;
  margin: 1em auto;
}

.sensitive-wrapper img {
  filter: blur(20px); /* làm mờ */
  pointer-events: none; /* ngăn click trực tiếp */
  transition: filter 0.3s ease;
}

.sensitive-wrapper.revealed img {
  filter: none;
  pointer-events: auto;
}

.sensitive-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
}