#wpmini-notify-1 {
    position: fixed;
    z-index: 1030;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.wpmini-notify {
    position: relative;
    margin: 10px 0;
    padding: 10px;
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(50px); /* Ban đầu, dịch xuống dưới */
    transition: transform 0.5s ease, opacity 0.5s ease;
    max-width: 300px;
}

.wpmini-notify.notify-border-radius {
    border-radius: 45px;
    padding-right: 30px;
}

/* Các vị trí của notification */
#wpmini-notify-1.top-left {
    top: 10px;
    left: 10px;
    right: initial;
    bottom: initial;
}

#wpmini-notify-1.top-right {
    top: 10px;
    right: 10px;
    left: initial;
    bottom: initial;
}

#wpmini-notify-1.bottom-left {
    bottom: 10px;
    left: 10px;
    right: initial;
    top: initial;
}

#wpmini-notify-1.bottom-right {
    bottom: 130px;
    right: 20px;
    top: initial;
    left: initial;
}

.wpmini-notify-text {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    flex-direction: column;
    align-items: initial;
    justify-content: start;
    text-align: left;
}

.wpmini-notify-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.wpmini-notify-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.wpmini-notify-content,
.wpmini-notify-time {
    font-size: 0.9em;
    color: #555;
    line-height: 1.1;
}

.wpmini-notify-time {
    margin-top: 5px;
    font-size: 0.8em;
    color: #999;
}

@media screen and (max-width: 767.98px) {
    #wpmini-notify-1.mb-top-left {
        top: 10px;
        left: 10px;
        right: initial;
        bottom: initial;
    }
    
    #wpmini-notify-1.mb-top-right {
        top: 10px;
        right: 10px;
        left: initial;
        bottom: initial;
    }
    
    #wpmini-notify-1.mb-center-left {
        top: 48%;
        left: 10px;
        right: initial;
        bottom: initial;
    }

    #wpmini-notify-1.mb-center-right {
        top: 48%;
        right: 10px;
        left: initial;
        bottom: initial;
    }

    #wpmini-notify-1.mb-bottom-left {
        bottom: 10px;
        left: 10px;
        right: initial;
        top: initial;
    }
    
    #wpmini-notify-1.mb-bottom-right {
        bottom: 130px;
        right: 20px;
        top: initial;
        left: initial;
    }
}

/*
* Notification Container
*-----------------------*/
#notification-container {
    display: none;
    position: fixed;
    z-index: 1056;
    top: initial;
    right: 0;
    bottom: 63px;
    left: initial;
    width: 90%;
    max-width: 400px;
    overflow: hidden;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, .16);
    text-align: left;
    margin: 0 2.6% 74px;    
    background-color: #ffffff;
    animation: fadeIn 0.5s;
}
#notification-container .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 10px 15px; 
}
#notification-container .form-container .send-phonenumber-form {
    border: 1px solid var(--wpmini-primary-color, #dc356d);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 3px;
    border-radius: 5px;
}
#notification-container .notification-text {
    cursor: pointer;
    margin: 0;
    padding: 10px 30px 10px 15px;
    position: relative;
}
#notification-container .notification-text a {
    text-decoration: none;
}
#notification-container .notification-text a:hover {
    color: #333;
}
#notification-container .notification-text span {
    color: red;
    font-weight: bold;
}
#notification-container .send-phonenumber-form button,
#notification-container .send-phonenumber-form input[type="number"] {
    border: medium none;
    outline: 0;
    height: 34px;
}
#notification-container .send-phonenumber-form input[type="number"],
#notification-container .send-phonenumber-form input[type="number"]:focus,
#notification-container .send-phonenumber-form input[type="number"]:focus-visible {    
    box-shadow: none;
    outline: 0;
}
#notification-container .send-phonenumber-form input[type="number"] {
    color: #8f7d7d;
    flex: 1 1 auto;
    padding: 0 5px;
}
#notification-container .send-phonenumber-form button {
    background-color: var(--wpmini-primary-color, #07835c);
    color: white;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    padding-left: 13px;
    padding-right: 13px;
}
#notification-container .send-phonenumber-form button span.sona-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
#notification-container .notification-text .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    line-height: 25px;
    width: 25px;
    height: 25px;
    background-color: #089b6d;
    text-align: center;
}
#notification-container .notification-text .close-btn:hover {
    color: red;
}
svg>path {
    max-width: 100%;
    height: auto;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@media screen and (max-width: 991.98px) {
    #notification-container {
        max-width: 100%;
        width: 95%;
    }
    #notification-container .notification-text {
       font-size: 15px; 
    }
}
@media screen and (max-width: 390px) {
    #notification-container .notification-text {
       font-size: 14px; 
    }
}
