/* css */

.toc-container {
  position: sticky;
  top: 13%;
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
  border-radius: 0px 16px 16px;
	display: none;
}

/* .toc-container {
	position: fixed;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	width: 12%;
	background-color: rgb(255, 255, 255);
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
  border-radius: 0px 16px 16px;
	display: none;
} */

.toc-container .title {
  padding-left: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.toc-fixed ul {
	list-style: auto!important;
}
.toc-fixed ul li {
	list-style: auto;
	list-style-position: inside;
}
.toc-fixed li.active {
  background-color: rgb(7 131 92);
  color: rgb(255, 255, 255);
}

.toc-fixed li {
  cursor: pointer;
  list-style-position: inside;
  padding: 5px 5px 5px 8px;
  border-radius: 0px 16px 16px;
  margin-bottom: 0px;
  font-weight: 450;
  font-size: 14px;
}

.toc-container-content {
	background: #fff;
	margin: 10px 0;
	padding: 8px 0;
	border-radius: 10px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toc-container-content .toc-fixed ul li:before {
	width: unset!important;
	height: unset!important;
}

.toc-container-content .toc-fixed ul {
	margin: unset!important;
	display: none;
}

.toc-container-content .title {
	display: flex;
	align-items: center;
	gap: 5px;
}

.toc-container-content .title::before {
	content: '\f0cb';
	font-family: FontAwesome5Pro;
	font-size: 20px;
	margin-right: 5px;
	font-weight: 700;
}

.toc-container-content .toc-fixed li {
	margin: 0!important;
	padding: 6px 10px;
}

.toc-container-content .toc-top {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.toc-container-content .toc-toggle::before {
	content: "\f105";
	font-family: FontAwesome5Pro;
	font-size: 20px;
	font-weight: 700;
}

.toc-container-content .toc-toggle {
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.toc-toggle.active {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}